{{>_start}} {{>topbar}} {{>header menuIndex=true}} {{>carousel}}

<section class="services">
  <div class="container">
    <h2 class="display-4 mb-4">Υπηρεσίες</h2>
    <div class="services-wrapper">
      {{#each _base.services}}
      <a href="{{link}}" class="service">
        <div class="service-body">
          <h4>
            <span class="{{icon}}"></span>
            <br>{{label}}</h4>
          <p>{{short}}</p>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</section>

{{>footer}}{{>_end}}