<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='Κύβος Χρηματοοικονομικοί Σύμβουλοι' name='author' />
  <meta name='robots' content='index,follow'>
  <title>Κύβος Χρηματοοικονομικοί Σύμβουλοι</title>
  <link rel='stylesheet' type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>
  <div class="container">
    <div class="card mt-5 w-75 mx-auto">
      <img class="img-fluid" src="/img/card.jpg">
      <hr class="w-75 my-4 mx-auto">
      <div class="card-body p-4 text-center">
        <h4 class="display-4">Κύβος</h4>
        <p class="lead">Χρηματοοικονομικοί Σύμβουλοι</p>
        <p class="text-secondary">Αιγίου 59 & Κυπαρισσίας, Ναύπλιο
          <br> Τηλ. 27520 99550
        </p>
      </div>
    </div>
  </div>
</body>

</html>