{{>_start title="Εταιρικό Προφίλ"}} {{>topbar}} {{>header menuProfile=true}}

<section class="m-4">
  <div class="container">
    <h2 class="display-4">Cube - Εταιρικό Προφίλ</h2>
    <hr class="divider">
    <div class="lead w-75 mx-auto">
      <p>Η «Κύβος Χρηματοοικονομικοί Σύμβουλοι» ιδρύθηκε το 2017 και δραστηριοποιείται στην παροχή φοροτεχνικών, λογιστικών
        και συμβουλευτικών υπηρεσιών, με σκοπό την ολοκληρωμένη υποστήριξη των σύγχρονων επιχειρήσεων και οργανισμών.</p>
      <p>Αποστολή μας είναι ο σχεδιασμός και η παροχή υπηρεσιών υψηλής ποιότητας και προστιθέμενης αξίας, προσαρμοσμένων στις
        ιδιαίτερες ανάγκες των πελατών μας, με στόχο τη δημιουργία μιας μακροχρόνιας σχέσης εμπιστοσύνης.</p>
      <p>«Χτίζουμε βήμα βήμα μια υγιή και αποδοτική επιχείρηση»</p>
    </div>
  </div>
</section>

{{>footer}}{{>_end}}