{{>_start title=_base.services.0.label}} {{>topbar}} {{>header menuServices=true}}

<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4 mb-4">{{_base.services.0.label}}</h1>
        <img class="img-fluid img-thumbnail mb-4" src="/img/banners/h3-sl.jpg" alt="Second slide">
        <p>{{_base.services.0.description}}</p>
        <ul>
          {{#each _base.services.0.items}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-4">
        {{>services-listgroup selected=_base.services.0.id}}
      </div>
    </div>

  </div>
</section>

{{>footer}}{{>_end}}