{{>_start}} {{>topbar}} {{>header}}

<section class="m-4">
  <div class="container">
    <h2 class="display-4">όροι χρήσης</h2>
    <hr class="divider">
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p> <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, sunt? In aliquam, cupiditate nemo quas illum enim ullam
      nulla eius dolor mollitia blanditiis ducimus, laboriosam adipisci perspiciatis perferendis doloribus quibusdam.
    </p>
  </div>
</section>

{{>footer}}{{>_end}}