<section class="carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    {{!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleControls" data-slide-to="1"></li>
    </ol> --}}
    <div class="carousel-inner">
      {{!-- <div class="carousel-item active">
        <img class="d-block w-100" src="/img/banners/h1-sl2.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Κύβος</h5>
          <p>Χρηματοοικονομικοί Σύμβουλοι</p>
        </div>
      </div> --}}
      <div class="carousel-item active">
        <img class="d-block w-100" src="/img/banners/h3-sl.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Χτίζουμε βήμα βήμα</h5>
          <p>Μια υγιή και αποδοτική επιχείρηση</p>
        </div>
      </div>
    </div>
    {{!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> --}}
  </div>
</section>