@import "./node_modules/bootstrap/scss/bootstrap";
$color:#019bd9;
section {
  .container {
    @extend .w-75;
  }
  h2 {
    @extend .text-center;
  }
}

.topbar {
  @extend .text-white;
  @extend .p-2;
  background: $color;
}

.carousel {
  height: 550px;
  .carousel-item {
    height: 550px;
  }
  .carousel-caption {
    top: 40%;
    bottom: auto;
    left: 20%;
    right: auto;
    color: black;
    text-align: left;
    h5 {
      font-size: 3rem;
      font-weight: 300;
    }
    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    @extend .p-4;
    background-color: $color;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    top: 50%;
    margin-top: -25px;
    border-radius: 25px;
  }
  .carousel-control-prev {
    margin-left: 50px;
  }
  .carousel-control-next {
    margin-right: 50px;
  }
}

.services {
  h4 {
    @extend .text-center;
  }
  .services-wrapper {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .flex-wrap;
    .service {
      @extend .p-4;
      @extend .w-50;
      h4 {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}

.divider {}