$color:#019bd9;
$theme-colors: ( "primary": $color);
@import "./node_modules/bootstrap/scss/bootstrap";
section {
  .container {
    // @extend .w-75;
  }
  h2 {
    @extend .text-center;
  }
}

.topbar {
  @extend .text-white;
  @extend .p-2;
  background: $color;
}

.header {
  .menu {
    .btn {
      border: none;
      font-weight: 300;
    }
  }
}

.carousel {
  height: 550px;
  .carousel-item {
    height: 550px;
  }
  .carousel-caption {
    top: 30%;
    bottom: auto;
    left: 20%;
    right: auto;
    color: black;
    text-align: left;
    h5 {
      font-size: 3rem;
      font-weight: 300;
    }
    p {
      font-size: 2rem;
      font-weight: 300;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    @extend .p-4;
    background-color: $color;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    top: 50%;
    margin-top: -25px;
    border-radius: 25px;
  }
  .carousel-control-prev {
    margin-left: 50px;
  }
  .carousel-control-next {
    margin-right: 50px;
  }
}

.services {
  @extend .p-5;
  background: #f4f6f8;
  h4 {
    @extend .text-center;
  }
  .services-wrapper {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .flex-wrap;
    .service {
      @extend .card;
      @extend .border-primary;
      margin: 1%;
      width: 30%;
      text-decoration: none;
      .service-body {
        @extend .card-body;
        @extend .p-4;
        @extend .text-dark;
        @extend .text-center;
        h4 {
          font-size: 1.2rem;
          .fa {
            @extend .m-2;
            font-size: 2rem;
            @extend .text-primary;
          }
        }
        p {
          @extend .text-secondary;
        }
      }
      &:hover {
        background-color: $color;
        .service-body {
          @extend .text-white;
          .fa {
            @extend .text-white;
          }
          p {
            @extend .text-white;
          }
        }
      }
    }
  }
}

.divider {}